-
  version: '{build}'
  branches:
    only:
      - development
  image: macOS
  init:
    - sh: appveyor UpdateBuild -Version "$(date '+%Y.%m').$APPVEYOR_BUILD_NUMBER"
  dotnet_csproj:
    patch: true
    file: '**\Directory.Build.props'
    version: '{version}-pre'
    package_version: '{version}-pre'
    assembly_version: '{version}'
    file_version: '{version}'
    informational_version: '{version}-pre'
  environment:
    CAKE_SETTINGS_SKIPPACKAGEVERSIONCHECK: true
  build_script:
    - sh: ./build
  artifacts:
    - path: '**\FutureFlag.*.nupkg'
  deploy:
    - provider: NuGet
      skip_symbols: true
      api_key:
        secure: NwLVBtSB1MOBBVr8+8PbmF94Ia+C4NxfmeF2ltWYpID28E0H++XqSscA7ZAyzc5Q
-
  version: '{build}'
  branches:
    only:
      - master
  image: macOS
  init:
    - sh: appveyor UpdateBuild -Version "$(date '+%Y.%m').$APPVEYOR_BUILD_NUMBER"
  dotnet_csproj:
    patch: true
    file: '**\Directory.Build.props'
    version: '{version}'
    package_version: '{version}'
    assembly_version: '{version}'
    file_version: '{version}'
    informational_version: '{version}'
  environment:
    CAKE_SETTINGS_SKIPPACKAGEVERSIONCHECK: true
  build_script:
    - sh: ./build
  artifacts:
    - path: '**\FutureFlag.*.nupkg'
  deploy:
    - provider: NuGet
      skip_symbols: true
      api_key:
        secure: NwLVBtSB1MOBBVr8+8PbmF94Ia+C4NxfmeF2ltWYpID28E0H++XqSscA7ZAyzc5Q
